.App {
  text-align: center;
  background-color: rgb(120, 11, 184);
  padding: 10px 20px;
  width: 600px;
  margin-top: 30%;
}

.todo-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo-logos-flex{
  flex-direction: row;
  padding-bottom: 20px;
}

.todo-empty {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
